doctype html
include ./head

body
.ui.one.column.stackable.center.aligned.page.grid
  .column.twelve.wide
    - if(loggedIn) {
      h1 Hello #{user.name}
      .ui.buttons.floar.right
        .ui.button
          a(href='/auth/logout') Logout
    - } else {
      .ui.huge.buttons.float.centered
        .ui.button
          a(href='/auth/slack') Signup with Slack
    - }